{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <title>Pagination</title>
</head>
<body>
    <div class="pagination btn-secondary">
        <span class="step-links">
            {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">Previous</a>
            {% endif %}
            <span class="current btn-sm">
                Page {{ page.number }} of {{ page.paginator.num_pages }}.
            </span>
            {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>
</body>
</html>

